.inventorylist-container {

    display: flex;
    margin-left: 5rem;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;

    .inventory-list{

        margin-top: 4rem;

        .inventory-card{
            height: 550px;
        }

    
        .inventory-img{
            height: 300px;
        }
    
    }
    
}

.footer-container{
    position: relative;
    margin-top: -20vh;
}


