.home-container {

    .btn {
        color: white;
        font-size: 18px;
        border-radius: 5px;
        margin: 40px;

    }

    .btn:hover{
        color: white;
        background-color: green;
        border: green;
    }
}