.header-container {


    .nav-link {
        font-size: 18px;
        font-weight: 600;
    }

    .nav-link:hover{
        color: white;
    }


    .logout-btn{
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        background-color: red;
        border-radius: 10px;
        border: none;
        font-size: 18px;
    }

    .logout-btn:hover{
        background-color: crimson;
    }


    .nav-btn-container{
        .nav-btn{
            padding: 10px;
            border: none;
            margin-left: 50px;
            border-radius: 10px;
            background-color: lightseagreen;

            a{
                text-decoration: none;
                color: white;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}